*{
    padding: 0;
    margin: 0;
}

body, .head{
    max-width: 100vw;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
/* align-items: center; */


}
.head{
    border: 2px solid blue;
    min-height: fit-content;
    background: #F7941D;
}


#up, #mid{
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */
     
    
    }
    
    .navbar2{
        background: #F7941D;
    }
    .nav{
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #mark{
        background: rgb(24, 57, 79);
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
    .navbar2 .btn{
        background: #57ffe3;
        font-weight: 500;
    }
    .navbar2 .btn:hover{
        background: #5b1656;
        color: white;
    }
    .navbar2 .hb{
        font-size: 0.8em;
        height: 2.5em;
    }
    
    #mid{
        padding: 0px 5px 10px 5px ;
    }
    #mid1,.mid1{
        display: block;
        
        width: 800px;
        height: 350px;
    }
    .mid2{
        display: block;
        width: 450px;
        margin:20px;

    }
