@media screen and (min-width:440px) and (max-width: 800px) {
    .navbar2 .hb{
        font-size: 0.7em;
        height: 30px;
        
    }

    #mid1,.mid1{
        display: block;
        
        width: auto;

        height: 350px;
    }
    #mid{
        display: flex;
        justify-content: center;
    }
   .mid2{
    width: 80%;

   }
  }
